@tailwind base;
@tailwind components;
@tailwind utilities;

html,
:root {
  @apply h-full
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply overflow-x-hidden bg-bg-main
}

h1 {
  font-weight: 800;
}

// slides animation
.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

// text animation
.text-enter{
  opacity: 0;
  transform: translate(-100%, 0);
}
.text-exit{
  opacity: 1;
  transform: translate(0, 0);
}
.text-enter-active{
  opacity: 1;
  transform: translate(0, 0);
}
.text-exit-active{
  opacity: 0;
  transform: translate(-100%, 0);
}
.text-enter-active,
.text-exit-active{
  transition: all 500ms;
}

.policy-text {
  line-height: 1.6;
  &:not(:last-child) {
    margin-bottom: 18px;
  }
}
.policy-ul {
  margin-top: 18px;
  margin-bottom: 18px;
  padding-left: 28px;
  line-height: 1.6;
  list-style-type: disc;
  li:not(:last-child) {
    margin-bottom: 16px;
  }
}
.policy-link {
  font-weight: 500;
  color: #2563EB;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
  &:hover {
    text-decoration-color: transparent;
  }
  &:active {
    text-decoration-color: transparent;
  }
}
